/*Styles.css: uses Meyers Reset with rem tweak */

/* ================ CSS Reset ================ */
/* ================ CSS Reset ================ */
/* ================ CSS Reset ================ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End CSS RESET */



/* ============== Start Styles ============== */
/* ============== Start Styles ============== */
/* ============== Start Styles ============== */


/* Color Classes */
.gradient__green {
	background: -moz-linear-gradient(left, rgba(98,252,198,0.81) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(98,252,198,0.81) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(98,252,198,0.81) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf62fcc6', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.gradient__peach {
	background: -moz-linear-gradient(left, rgba(255,205,134,0.81) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,205,134,0.81) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,205,134,0.81) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf62fcc6', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

/* Styling */
html, body {
	/* DO NOT CHANGE */
	display: flex; flex-direction: column;
	/*Can Change*/
	font-size: 10px; /*sets base value to 10 as to make rem values easier*/
}

.responsive-img {
	max-width: 100%;
	height: auto;
}

/*Header*/
header {
	/* DO NOT CHANGE */		
	display: flex; flex-direction: row;
	justify-content: flex-end; align-items: stretch;
	margin-bottom: auto;
	width: 100%;
	
	/*Can Change*/
	height: 8rem;
}
.navigation {
	/* DO NOT CHANGE */
	display: flex; justify-content: flex-end;
	width: 100%;
}
.navigation__div {
	/* DO NOT CHANGE */
	display: flex;
	margin: 0 1rem; padding: 0 1rem;
}
.navigation__div > a {
	/* DO NOT CHANGE */
	margin: auto;
}
#logo {
	/* DO NOT CHANGE */
	display: flex; align-items: center; justify-content: center;
	margin-right: auto;
}

/* Article */
article#main-content {
	/* DO NOT CHANGE */
	display: flex; flex-direction: column; justify-content: center; align-items: stretch;
	margin: auto 0;
	
	/*Can Change*/
	min-height: 12rem;
}

/* Articles >> Sections */
.sections {
	/*DO NOT CHANGE*/
	display: flex; flex-flow: row wrap; justify-content: center; align-items: center;
	
	/*Can Change*/
	background: antiquewhite;
	border: 1px dotted black;
	height: 50rem;    
}

/* Footer */
footer {
	/* DO NOT CHANGE */
	display: flex;
	margin-top: auto;
	
	/*Can Change */
	background: aliceblue;
	height: 20rem;
}